.abs {
  position: absolute;
}

.super-mario {
  width: 200px;
  top: 100px;
  left: 100px;
  z-index: 0;
}

.goomba {
  width: 100px;
  top: 500px;
  left: 150px;
  z-index: 1;
}

.baloon {
  width: 400px;
  top: 280px;
  left: 430px;
  z-index: 2;
}

.speach {
  font-size: 25px;
  top: 340px;
  left: 470px;
  font-family: 'serif', Courier, monospace;
  z-index: 3;
}

.bowser {
  width: 200px;
  width: 300px;
  top: 420px;
  left: 800px;
  z-index: 2;
}