.carousel {
    display: flex;
    flex-direction: column;
    background-color: rgba(14, 111, 207, 0.212);
    align-content: center;
    align-items: center;
    justify-content: space-around;
    height: 200px;
}
.carousel-header {
  background-color: rgb(14, 110, 207);
  padding: 16px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  box-shadow: 0 0 8px #333;
  box-sizing: border-box;
  margin: 0;
  width: 99%;
}

.carousel-btn {
  border-radius: 10px;
  border: none;
  display: inline;
  background-color: rgb(14, 110, 207);
  box-shadow: 1.5px 1.5px rgba(128, 128, 128, 0.404);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.carousel-btn:hover {
  cursor: pointer;
}

.carousel-btn:active {
  background-color: rgba(165, 164, 164, 0.644);
}
