/* style.css */

body {
    font-family: Arial, sans-serif;
}

div {
    width: 200px;
    height: 100px;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    transition: border 0.1s ease;
        /* Smooth transition for border changes */
}

div:hover {
    border: 6px solid #333;
    /* Add border on hover */
}

div:nth-child(1) {
    background-color: #3498db;
    /* Primary Color */
    color: #fff;
}

div:nth-child(2) {
    background-color: #2ecc71;
    /* Secondary Color */
    color: #fff;
}

div:nth-child(3) {
    background-color: #e74c3c;
    /* Complementary Color */
    color: #fff;
    width: 250px;
    /* Make the third div larger */
}

div:nth-child(4) {
    background-color: #34495e;
    /* Dark Color */
    color: #fff;
}

div:nth-child(5) {
    background-color: #ecf0f1;
    /* Light Color */
    color: #000;
}

h3 {
    /* Styling for all h3 elements */
    margin: 0;
    font-size: 18px;
}

h3:nth-child(odd) {
    /* odd-numbered h3 elemItalicize ents */
    font-style: italic;
}

/* Additional styling for individual h3 elements if needed */
div:nth-child(1) h3 {
    /* Styling for the first div's h3 */
    color: #fff;
}

div:nth-child(2) h3 {
    /* Styling for the second div's h3 */
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
}

div:nth-child(3) h3 {
    /* Styling for the third div's h3 */
    color: #fff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

div:nth-child(4) h3 {
    /* Styling for the fourth div's h3 */
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

div:nth-child(5) h3 {
    /* Styling for the fifth div's h3 */
    color: #000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}